@use '@/styles/tokens' as *;
@use '@/styles/mixins' as *;

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__main {
  display: flex;
  flex: 1;
  justify-content: center;
  padding: $space-l $space-m;

  @include mobile {
    padding: $space-m $space-s;
  }
}
